#Entrenamiento, validación y prueba de German Credit

## Primero de forma manual

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Pasta43/MachineLearning/main/first-term/datasets/german_credit_data.csv")

In [3]:
train, test = train_test_split(df, test_size=0.3)

In [9]:
df

     Unnamed: 0  Age     Sex  ...  Duration              Purpose  Risk
0             0   67    male  ...         6             radio/TV  good
1             1   22  female  ...        48             radio/TV   bad
2             2   49    male  ...        12            education  good
3             3   45    male  ...        42  furniture/equipment  good
4             4   53    male  ...        24                  car   bad
..          ...  ...     ...  ...       ...                  ...   ...
995         995   31  female  ...        12  furniture/equipment  good
996         996   40    male  ...        30                  car  good
997         997   38    male  ...        12             radio/TV  good
998         998   23    male  ...        45             radio/TV   bad
999         999   27    male  ...        45                  car  good

[1000 rows x 11 columns]

In [12]:
accuracy_total_score=[]
for i in range(10):
  train2, validation = train_test_split(train, test_size=0.3)
  X_train = train2[['Age', 'Job','Credit amount','Duration']]
  y_train = train2["Risk"]
  X_validation = validation[['Age', 'Job','Credit amount','Duration']]
  y_validation = validation["Risk"]
  clf = DecisionTreeClassifier()
  clf.fit(X_train, y_train)
  y_val_predict = clf.predict(X_validation)
  accuracy_total_score.append(100*accuracy_score(y_validation, y_val_predict))

Media

In [13]:
np.mean(accuracy_total_score)

63.76190476190477

Desviación estándar

In [14]:
np.std(accuracy_total_score)

2.6207786487270526

## Usando la función cross_validate

In [15]:
from sklearn.model_selection import cross_validate

In [16]:
clf = DecisionTreeClassifier()

In [17]:
results = cross_validate(clf, X_train, y_train, cv=10, scoring=["accuracy"])

Media

In [18]:
100 * results['test_accuracy'].mean()

63.67346938775509

Desviación estándar

In [19]:
100 * results['test_accuracy'].std()

10.517631613653164